/*******************************/


/*********** Team CSS **********/


/*******************************/

.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    background: #ffffff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 0 0 0 0 transparent;
    transition: ease-out 0.5s;
}

.team .team-img {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.team .team-img img {
    position: relative;
    width: 100%;
    transition: .5s;
}

.team .team-text {
    position: relative;
    width: 50%;
    padding: 0 30px;
}

.team .team-text h2 {
    color: #EF233C;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: 1s;
}

.team .team-text h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    transition: 1s;
}

.team .team-text p {
    margin-bottom: 20px;
    transition: 1s;
}

.team .team-social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team .team-social a.btn {
    width: 35px;
    height: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}

.team .team-item:hover {
    box-shadow: inset 800px 0 0 0 #EF233C;
}

.team .team-item:hover .team-img img {
    transform: scale(1.2);
}

.team .team-item:hover .team-text h2,
.team .team-item:hover .team-text h4,
.team .team-item:hover .team-text p {
    color: #ffffff;
}

.team .team-item:hover .team-social a.btn {
    background: #ffffff;
}

.team .team-item:hover .team-social a.btn:hover {
    border-color: #ffffff;
}

@media(max-width: 575.98px) {
    .team .team-text {
        padding: 0 15px;
    }
    .team .team-text h2 {
        font-size: 16px;
        margin-bottom: 0;
    }
    .team .team-text h4 {
        margin-bottom: 5px;
    }
    .team .team-text p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
}




/********* Contact CSS *********/


/*******************************/

.contact {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: #EF233C;
}

.contact .container-fluid {
    background: url(../img/contact.jpg) left center no-repeat;
    background-size: contain;
}

.contact .contact-form {
    position: relative;
    padding: 90px 0 90px 45px;
    background: #EF233C;
}

.contact .contact-form input {
    color: #ffffff;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}

.contact .contact-form textarea {
    color: #ffffff;
    height: 90px;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}

.contact .contact-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.contact .contact-form .form-control:-ms-input-placeholder,
.contact .contact-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.contact .contact-form .btn {
    margin-top: 35px;
    color: #EF233C;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.contact .contact-form .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .contact .container-fluid {
        background: none;
    }
    .contact .contact-form {
        padding: 90px 0;
    }
}


