/* ===== Resets and Housekeeping ===== */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

html {
    font-size: 16px;
}

body {
    background: white;
    padding: 100px 20px;
    text-align: center;
}

/* ===== Actual Styles ===== */

/* ===== Horizontal Rule ===== */
.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, white, #c9bbae, white);
}

/* ===== Select Box ===== */
.sel {
    font-size: 1rem;
    display: inline-block;
    margin: 3em 2em;
    width: 350px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.sel::before {
    position: absolute;
    content: "\f063";
    font-family: "FontAwesome";
    font-size: 2em;
    color: #fff;
    right: 20px;
    top: calc(50% - 0.5em);
}

.sel.active::before {
    transform: rotateX(-180deg);
}

.sel__placeholder {
    display: block;
    font-family: "Quicksand";
    font-size: 2.3em;
    color: #838e95;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #fff;
    width: calc(100% + 8px);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
}

.sel__box__options {
    display: list-item;
    font-family: "Quicksand";
    font-size: 1.5em;
    color: #838e95;
    padding: 0.5em 1em;
    user-select: none;
}

.sel__box__options::after {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 0.5em;
    margin-left: 5px;
    display: none;
}

.sel__box__options.selected::after {
    display: inline;
}

.sel__box__options:hover {
    background-color: #ddd0c8;
}

/* ----- Select Box Black Panther ----- */
.sel {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
    z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
    /*   display: none; */
    z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.custom-select {
    border-radius: 10px;
    width: 500px;
    background-color: white;
}
.custom-select:focus {
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px Black, 0 0 8px Black; */
    /* box-shadow: inset 0 1px 1px Black, 0 0 8px Black; */
}

.btn {
    background-color: white;
    color: #e7473c;
    border-color: #e7473c;
    transition: 0.5s;
}
.btn:hover {
    background-color: #e7473c;
    color: white;
    transition: 0.5s;
    border: rgb(209, 50, 50);
    border-style: groove;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e7473c;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
